# Dependencies
node_modules/

# Production build outputs
dist/
dist-ssr/

# Environment configurations (secrets)
.env
*.env.local

# Logs
logs/
*.log
npm-debug.log*

# IDE / Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.sln
